/*-- scss:defaults --*/

$teal-600: #1a7a6d;
$teal-400: #2a9d8f;

$body-bg: #faf8f5;
$body-color: #3e3b36;

$link-color: $teal-600;
$link-hover-color: $teal-400;

$primary: $teal-600;

$table-bg: transparent;
$table-border-color: #dfd7ca;
$table-th-bg: #ece8e1;

$text-muted: #6a665c;

/*-- scss:rules --*/
